*{
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

*:visited{
    color: white;
}

*::selection{
    background: none;
}

body{
    color: white;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, rgb(0, 255, 170), rgb(40, 148, 103), rgb(0, 255, 170));
    background-blend-mode: color;
    background-size: 500%;
    animation: animate 100s linear infinite;
}

header{
    margin-left: 1vw;
    margin-right: 0.5vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

header a{
    text-decoration: none;
    color: white;
}

main{
    display: flex;
    flex-direction: column;
    text-align: center;
}

main h1{
    font-size: 3.5em;
}

.textField{
    margin-top: 5%;
}

#input{
    color: black;
    height: 10vh;
    width: 12vh;
    font-size: 3em;
    text-align: center;
}

.buttons{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons button{
    font-size: 3em;
    border: 0px;
    height: 10vh;
    width: 40vh;
    border-radius: 20px;
}

.buttons button:hover{
    cursor: pointer;
    animation: hover 0.05s ease-in-out both;
}

@keyframes animate{
    0%{
        background-position: 0% 0%;
    }
    100%{
        background-position: 500% 0%;
    }
}

@keyframes hover{
    0%{
        font-size: 3em;
        height: 10vh;
        width: 40vh;   
    }
    100%{
        font-size: 3.2em;
        height: 10.5vh;
        width: 42vh; 
    }
}